In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
import pandas as pd
import io

# Assuming 'lines' is the list containing your cleaned CSV lines
lines = [
    'ISBN;"Book-Title";"Book-Author";"Year-Of-Publication";"Publisher";"Image-URL-S";"Image-URL-M";"Image-URL-L"',
    '0195153448;"Classical Mythology";"Mark P. O. Morford";"2002";"Oxford University Press";"http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg"'
]

# Create a new DataFrame from the cleaned lines
book = pd.read_csv(io.StringIO('\n'.join(lines)), sep=";", encoding='latin-1')

# Change the name of 'Column3Name' to 'NewColumnName'
book.rename(columns={'Column3Name': 'NewColumnName'}, inplace=True)

# Display the DataFrame

        ISBN           Book-Title         Book-Author  Year-Of-Publication  \
0  195153448  Classical Mythology  Mark P. O. Morford                 2002

                 Publisher                                        Image-URL-S  \
0  Oxford University Press  http://images.amazon.com/images/P/0195153448.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0195153448.0...

In [33]:
book.head(20000)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...

In [30]:
book.shape

(1, 8)

In [ ]:
book.shape